body{
    overflow: hidden;
}

.card-header {
    background: #7db8ea;
    color: white;
}

canvas{
    background-color: white;
}
.message-error{
    color: rgb(205, 121, 121);
    font-weight: bold;
}
.message-success{
    color: rgb(81, 189, 236);
    font-weight: bold;
}
